<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <remove fileExtension=".sh" />
            <mimeMap fileExtension=".sh" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
